@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
.max-width-1{
    max-width: 80vw;
    
}
.max-width-2{
    max-width: 90vw;
}
.m-auto{
    margin: auto;
}
